In [1]:
import datetime
import requests

import pandas as pd
import numpy as np

## Golf Leaders of 2021

In [2]:
# Site URL
url = 'https://www.espn.com/golf/leaders'

# Retrieve page with the request module
response = requests.get(url)

In [3]:
# Read in all html tables and put into dataframes
tables = pd.read_html(url)

In [4]:
# Empty list
golf_dfs = []

# Create list of dataframes
for df in tables:
    golf_dfs.append(df)

In [5]:
# Select dataframes that have actual statistics
money_leaders = golf_dfs[1]
total_cuts_made = golf_dfs[2]
putting_avg = golf_dfs[3]
fedex_cup_points = golf_dfs[4]
avg_drive = golf_dfs[5]
drive_accuracy = golf_dfs[6]

# Create list of dataframes
list_of_dfs = [money_leaders, total_cuts_made, 
               putting_avg, fedex_cup_points, 
               avg_drive, drive_accuracy]

# Empty List
new_list = []

# Re-format the dataframe. Drop first column. Store and rename column headers. 
# Strip rank from beginning of player string. Place in new list
for df in list_of_dfs:
    df = df.drop(columns=[0])
    player_header = df.loc[0][1]
    stat_header = df.loc[0][2]
    df = df.rename(columns={1: player_header, 2: stat_header}).drop([0,6])
    df[player_header] = df[player_header].str[3:]
    new_list.append(df)

#### Money Leaders

In [6]:
new_list[0]

              PLAYER         AMOUNT
1           Jon Rahm  $6,111,433.00
2  Bryson DeChambeau  $6,018,847.00
3      Justin Thomas  $5,907,945.00
4    Patrick Cantlay  $5,620,030.00
5     Harris English  $5,529,727.00

#### Total Cuts Made

In [7]:
new_list[1]

            PLAYER CUTS
1         Tom Hoge   29
2       Sungjae Im   28
3  Patrick Rodgers   27
4      Adam Schenk   27
5     Troy Merritt   26

#### Putting Average

In [8]:
new_list[2]

           PLAYER    AVG
1   Cameron Smith  1.705
2  Patton Kizzire  1.708
3  Anirban Lahiri  1.709
4    Patrick Reed  1.709
5   Justin Thomas  1.715

#### FedEx Cup Points Leaders

In [9]:
new_list[3]

              PLAYER POINTS
1    Patrick Cantlay   2014
2     Harris English   1889
3           Jon Rahm   1823
4  Bryson DeChambeau   1802
5      Jordan Spieth   1742

#### Average Drive

In [10]:
new_list[4]

              PLAYER   YARDS
1  Bryson DeChambeau  321.92
2       Rory McIlroy  318.72
3      Cameron Champ  318.04
4      Wyndham Clark  315.54
5        Will Gordon  314.60

#### Driving Accuracy

In [11]:
new_list[5]

         PLAYER    PCT
1  Brendon Todd  75.19
2   Ryan Armour  72.72
3  Brian Stuard  72.62
4   Chez Reavie  72.02
5    Ryan Moore  71.40

## Golf 2021 Full Statistics

In [12]:
# Site URL
stat = 'officialAmount'
url = f'https://www.espn.com/golf/statistics/_/year/2021/sort/{stat}'

# Retrieve page with the request module
response = requests.get(url)

In [13]:
# Pull tables via Pandas
# Reformat column headers, re-index
tables = pd.read_html(url)
money_df = tables[0]
money_df = money_df.drop_duplicates().drop(0)
header = money_df.loc[1]
money_df.columns = header
money_df = money_df.drop(1).reset_index(drop=True).drop(columns=['RK'])
money_df

1,PLAYER,AGE,EVENTS,ROUNDS,CUTS MADE,TOP 10,WINS,CUP POINTS,EARNINGS
0,Jon Rahm,26,18,61,18,11,1,1823,"$6,111,433.00"
1,Bryson DeChambeau,27,17,60,17,6,2,1802,"$6,018,847.00"
2,Justin Thomas,28,18,64,18,5,1,1708,"$5,907,945.00"
3,Patrick Cantlay,29,19,60,19,5,2,2014,"$5,620,030.00"
4,Harris English,31,21,72,20,7,2,1889,"$5,529,727.00"
5,Jordan Spieth,27,20,68,18,8,1,1742,"$5,016,964.00"
6,Louis Oosthuizen,38,16,54,16,6,0,1438,"$4,958,779.00"
7,Xander Schauffele,27,17,56,17,7,0,1579,"$4,942,637.00"
8,Collin Morikawa,24,18,60,16,7,1,1536,"$4,880,768.00"
9,Jason Kokrak,36,21,68,18,5,2,1573,"$4,803,058.00"
10,Viktor Hovland,23,19,63,18,6,1,1630,"$4,642,914.00"
11,Brooks Koepka,31,15,48,14,7,1,1450,"$4,631,711.00"
12,Cameron Smith,27,19,62,18,6,1,1411,"$4,325,445.00"
13,Dustin Johnson,37,15,52,14,5,1,1349,"$4,195,761.00"
14,Hideki Matsuyama,29,22,75,20,2,1,1336,"$3,984,819.00"
15,Scottie Scheffler,25,24,78,23,7,0,1262,"$3,952,564.00"
16,Patrick Reed,30,19,64,19,6,1,1332,"$3,907,658.00"
17,Sam Burns,24,21,64,18,6,1,1461,"$3,826,300.00"
18,Billy Horschel,34,20,66,19,5,1,1234,"$3,802,410.00"
19,Joaquin Niemann,22,22,82,22,5,0,1435,"$3,694,902.00"
20,Abraham Ancer,30,22,78,21,6,0,1371,"$3,691,996.00"
21,Rory McIlroy,32,16,54,15,6,1,1214,"$3,682,855.00"
22,Tony Finau,31,21,66,20,7,0,1239,"$3,607,064.00"
23,Daniel Berger,28,17,60,16,6,1,1235,"$3,497,086.00"
24,Corey Conners,29,24,84,21,7,0,1134,"$3,432,629.00"
25,Stewart Cink,48,20,70,20,3,2,1431,"$3,409,527.00"
26,Max Homa,30,24,70,19,5,1,1196,"$3,313,691.00"
27,Sungjae Im,23,29,98,28,4,0,1131,"$3,246,527.00"
28,Lee Westwood,48,15,46,14,2,0,834,"$3,210,976.00"
29,Marc Leishman,37,20,62,19,4,1,1084,"$3,000,346.00"
30,Brian Harman,34,22,80,22,5,0,987,"$2,973,546.00"
31,Charley Hoffman,44,26,89,24,5,0,1127,"$2,915,972.00"
32,Si Woo Kim,26,26,80,23,4,1,1015,"$2,759,238.00"
33,Carlos Ortiz,30,24,78,20,3,1,1025,"$2,579,299.00"
34,Phil Mickelson,51,19,62,18,1,1,740,"$2,559,724.00"
35,K.H. Lee,29,28,86,24,2,1,937,"$2,557,633.00"
36,Paul Casey,43,16,56,15,6,0,769,"$2,547,796.00"
37,Cam Davis,26,21,74,21,3,1,1014,"$2,539,615.00"
38,Sergio Garcia,41,18,52,15,3,1,904,"$2,416,200.00"
39,Matt Jones,41,25,86,23,3,1,1022,"$2,400,685.00"

In [14]:
# Initialize counter value for URLs
url_num = 1

# Loop through pages based on number of pages.
# I could not figure out a way to clic the "next" button, as there was no value or button tag
# To revisit this using Splinter at a later time
for i in range(1,15):
    # Visit new URL page for stat
    url_num = url_num + 40
    url = f'https://www.espn.com/golf/statistics/_/count/{url_num}'
    
    # Create table into dataframe, drop first row, assign new column headers
    # Merge with main money_df DataFrame
    tables = pd.read_html(url)
    temp_df = tables[0]
    temp_df = temp_df.drop_duplicates().drop(0)
    header = temp_df.loc[1]
    temp_df.columns = header
    temp_df = temp_df.drop(1).reset_index(drop=True).drop(columns=['RK'])
    money_df = money_df.append(temp_df)

In [15]:
# Drop any duplicates to main dataframe and reset the index
money_df = money_df.drop_duplicates().reset_index(drop=True)
money_df

1,PLAYER,AGE,EVENTS,ROUNDS,CUTS MADE,TOP 10,WINS,CUP POINTS,EARNINGS
0,Jon Rahm,26,18,61,18,11,1,1823,"$6,111,433.00"
1,Bryson DeChambeau,27,17,60,17,6,2,1802,"$6,018,847.00"
2,Justin Thomas,28,18,64,18,5,1,1708,"$5,907,945.00"
3,Patrick Cantlay,29,19,60,19,5,2,2014,"$5,620,030.00"
4,Harris English,31,21,72,20,7,2,1889,"$5,529,727.00"
...,...,...,...,...,...,...,...,...,...
576,Brett Walker,--,0,0,1,0,0,0,--
577,Christopher Crawford,--,0,0,0,0,0,0,--
578,Angus Flanagan,--,0,0,1,0,0,0,--
579,Hanbyeol Kim,--,0,0,1,0,0,0,--
580,Eduard Rousaud,--,0,0,0,0,0,0,--

## Expanded Statistics I

In [16]:
# Site URL
url = 'https://www.espn.com/golf/statistics/_/type/expanded'

# Retrieve page with the request module
response = requests.get(url)

In [17]:
tables = pd.read_html(url)
expanded_stats_df = tables[0]
expanded_stats_df = expanded_stats_df.drop_duplicates().drop(0)
header = expanded_stats_df.loc[1]
expanded_stats_df.columns = header
expanded_stats_df = expanded_stats_df.drop(1).reset_index(drop=True).drop(columns=['RK'])
expanded_stats_df

1,PLAYER,AGE,YDS/DRIVE,DRIVING ACC.,DRVE TOTAL,GREENS IN REG.,PUTT AVG.,SAVE PCT.
0,K.J. Choi,51,268.9,66.3,208,62.1,1.789,65.3
1,Webb Simpson,35,292.4,68.8,133,68.3,1.761,64.6
2,Cameron Smith,27,297.0,58.9,90,65.3,1.705,64.3
3,Xander Schauffele,27,307.5,59.9,22,68.9,1.734,63.6
4,Ben Taylor,--,291.5,52.1,143,64.3,1.789,63.0
5,Wyndham Clark,27,315.5,47.1,4,63.3,1.754,62.7
6,Brooks Koepka,31,309.3,55.8,15,67.6,1.729,62.1
7,Byeong Hun An,29,300.6,51.3,58,61.8,1.790,61.8
8,Patrick Reed,30,290.8,64.2,151,62.7,1.709,61.7
9,Matt Kuchar,43,286.8,66.5,181,64.5,1.735,61.2
10,Zach Johnson,45,288.9,61.3,166,66.4,1.773,60.0
11,Russell Henley,32,289.4,65.4,162,68.9,1.759,59.8
12,Camilo Villegas,39,292.3,55.7,136,63.7,1.758,59.8
13,Denny McCarthy,28,294.6,62.0,117,63.0,1.764,59.5
14,Christiaan Bezuidenhout,27,287.4,62.5,175,59.9,1.766,59.5
15,Brice Garnett,37,286.8,70.5,181,67.8,1.767,59.4
16,Scott Brown,38,294.7,60.8,114,63.8,1.775,59.3
17,Brian Harman,34,291.4,66.3,144,64.0,1.725,58.9
18,Brandon Hagy,--,309.7,49.4,11,61.9,1.764,58.8
19,Louis Oosthuizen,38,296.9,62.9,91,66.2,1.757,58.4
20,Marc Leishman,37,292.4,57.7,133,65.4,1.764,58.4
21,Henrik Stenson,45,282.7,65.7,198,59.3,1.817,58.2
22,Cameron Tringale,33,298.2,61.0,77,67.6,1.726,58.2
23,Rory Sabbatini,45,287.0,61.4,177,63.9,1.742,58.2
24,Brendon Todd,35,274.5,75.2,206,64.2,1.729,57.4
25,Ian Poulter,45,284.6,66.1,191,60.4,1.742,57.3
26,Vaughn Taylor,45,278.2,67.1,204,63.4,1.757,57.0
27,Tony Finau,31,304.5,54.3,34,65.6,1.728,56.8
28,Tim Wilkinson,42,277.0,67.6,205,63.6,1.778,56.8
29,Danny Lee,30,298.6,59.1,73,64.5,1.774,56.6
30,Kevin Na,37,287.0,66.2,177,63.5,1.768,56.5
31,Doc Redman,23,293.4,64.0,126,65.8,1.780,56.5
32,Rory McIlroy,32,318.7,54.9,2,65.4,1.747,56.4
33,Tyrrell Hatton,29,298.9,64.0,69,63.7,1.727,56.4
34,Jordan Spieth,27,298.8,53.6,71,64.8,1.723,56.3
35,Chris Kirk,36,289.9,62.6,157,67.6,1.743,56.2
36,Daniel Berger,28,297.4,63.6,85,69.9,1.732,56.2
37,Erik van Rooyen,31,303.2,56.2,39,62.9,1.771,56.2
38,Jamie Lovemark,33,300.7,49.5,57,60.6,1.779,56.2
39,Justin Thomas,28,302.8,55.3,44,67.1,1.715,56.1

In [18]:
# Initialize counter value for URLs
url_num = 1

# Loop through pages based on number of pages.
# I could not figure out a way to clic the "next" button, as there was no value or button tag
# To revisit this using Splinter at a later time
for i in range(1,6):
    # Visit new URL page for stat
    url_num = url_num + 40
    url = f'https://www.espn.com/golf/statistics/_/type/expanded/count/{url_num}'
    
    # Create table into dataframe, drop first row, assign new column headers
    # Merge with main money_df DataFrame
    tables = pd.read_html(url)
    temp_df = tables[0]
    temp_df = temp_df.drop_duplicates().drop(0)
    header = temp_df.loc[1]
    temp_df.columns = header
    temp_df = temp_df.drop(1).reset_index(drop=True).drop(columns=['RK'])
    expanded_stats_df = expanded_stats_df.append(temp_df)

In [19]:
# Drop any duplicates to main dataframe and reset the index
expanded_stats_df = expanded_stats_df.drop_duplicates().reset_index(drop=True)
expanded_stats_df

1,PLAYER,AGE,YDS/DRIVE,DRIVING ACC.,DRVE TOTAL,GREENS IN REG.,PUTT AVG.,SAVE PCT.
0,K.J. Choi,51,268.9,66.3,208,62.1,1.789,65.3
1,Webb Simpson,35,292.4,68.8,133,68.3,1.761,64.6
2,Cameron Smith,27,297.0,58.9,90,65.3,1.705,64.3
3,Xander Schauffele,27,307.5,59.9,22,68.9,1.734,63.6
4,Ben Taylor,--,291.5,52.1,143,64.3,1.789,63.0
...,...,...,...,...,...,...,...,...
203,Graeme McDowell,41,286.0,61.8,183,61.1,1.806,36.7
204,Joseph Bramlett,33,308.4,57.3,18,67.8,1.810,35.4
205,Chris Baker,--,289.1,66.0,164,64.6,1.816,33.3
206,Nick Watney,40,297.6,49.5,83,61.8,1.843,32.3
207,Cameron Champ,26,318.0,57.0,3,64.8,1.818,26.8

## Expanded Statistics II

In [20]:
# Site URL
url = 'https://www.espn.com/golf/statistics/_/type/expanded2'

# Retrieve page with the request module
response = requests.get(url)

In [21]:
tables = pd.read_html(url)
expanded_stats_2_df = tables[0]
expanded_stats_2_df = expanded_stats_2_df.drop_duplicates().drop(0)
header = expanded_stats_2_df.loc[1]
expanded_stats_2_df.columns = header
expanded_stats_2_df = expanded_stats_2_df.drop(1).reset_index(drop=True).drop(columns=['RK'])
expanded_stats_2_df

1              PLAYER AGE EAGLES BIRDIES PARS BOGEYS BIRDIES/RD HOLES/EAGLE
0   Bryson DeChambeau  27     14     250  656    132      4.167          77
1       Matthew Wolff  22     10     166  446    131      3.860          77
2       Sergio Garcia  41     12     199  581    122      3.827          78
3          Tony Finau  31     13     262  723    170      3.970          91
4        Kris Ventura  --     12     219  666    188      3.532          93
5           Cam Davis  26     14     305  777    206      4.122          95
6       Justin Thomas  28     12     276  694    141      4.313          96
7    Louis Oosthuizen  38     10     198  625    130      3.667          97
8           Luke List  36     13     266  776    196      3.746          98
9        Carlos Ortiz  30     14     303  880    185      3.885         100
10     Will Zalatoris  24     14     292  891    192      3.744         100
11  Xander Schauffele  27     10     245  597    143      4.375         101
12       Patrick Reed  30     11     262  699    167      4.094         105
13       Hunter Mahan  39      9     171  554    178      3.226         106
14      Brooks Koepka  31      8     203  509    135      4.229         108
15   Scott Harrington  40     11     219  737    214      3.269         110
16        Ryan Palmer  44     10     262  668    156      4.226         112
17          Sam Burns  24     10     282  679    160      4.406         115
18      Corey Conners  29     13     331  943    202      3.940         116
19     Dustin Johnson  37      8     212  572    121      4.077         117
20     Grayson Murray  27      7     155  471    173      3.370         118
21    Hudson Swafford  33     10     233  714    201      3.530         119
22    Joseph Bramlett  33     10     234  749    169      3.545         119
23           Jon Rahm  26      9     268  671    143      4.393         122
24      Peter Uihlein  31      5     116  379    110      3.412         122
25      Jordan Spieth  27     10     289  731    175      4.250         122
26   Hideki Matsuyama  29     11     295  835    187      3.933         123
27        Michael Kim  27      8     161  612    181      2.927         124
28      Cameron Champ  26      8     207  572    167      3.764         124
29      Cameron Smith  27      9     267  674    147      4.306         124
30       Brendon Todd  35     11     278  858    198      3.658         124
31    Brandt Snedeker  40     10     258  765    205      3.686         126
32         Paul Casey  43      8     216  626    145      3.857         126
33   Charl Schwartzel  36     10     239  799    193      3.414         126
34    Ted Potter, Jr.  37      8     205  577    198      3.661         126
35        J.T. Poston  28     10     241  769    207      3.443         126
36        Will Gordon  --     11     297  822    236      3.808         128
37     Keegan Bradley  35     10     269  823    174      3.736         130
38            Bo Hoag  --     10     237  874    174      3.247         131
39   Henrik Norlander  34     10     229  882    188      3.095         133

In [22]:
# Initialize counter value for URLs
url_num = 1

# Loop through pages based on number of pages.
# I could not figure out a way to clic the "next" button, as there was no value or button tag
# To revisit this using Splinter at a later time
for i in range(1,6):
    # Visit new URL page for stat
    url_num = url_num + 40
    url = f'https://www.espn.com/golf/statistics/_/type/expanded2/count/{url_num}'
    
    # Create table into dataframe, drop first row, assign new column headers
    # Merge with main money_df DataFrame
    tables = pd.read_html(url)
    temp_df = tables[0]
    temp_df = temp_df.drop_duplicates().drop(0)
    header = temp_df.loc[1]
    temp_df.columns = header
    temp_df = temp_df.drop(1).reset_index(drop=True).drop(columns=['RK'])
    expanded_stats_2_df = expanded_stats_2_df.append(temp_df)

In [23]:
# Drop any duplicates to main dataframe and reset the index
expanded_stats_2_df = expanded_stats_2_df.drop_duplicates().reset_index(drop=True)
expanded_stats_2_df

1                PLAYER AGE EAGLES BIRDIES PARS BOGEYS BIRDIES/RD HOLES/EAGLE
0     Bryson DeChambeau  27     14     250  656    132      4.167          77
1         Matthew Wolff  22     10     166  446    131      3.860          77
2         Sergio Garcia  41     12     199  581    122      3.827          78
3            Tony Finau  31     13     262  723    170      3.970          91
4          Kris Ventura  --     12     219  666    188      3.532          93
..                  ...  ..    ...     ...  ...    ...        ...         ...
201  Francesco Molinari  38      1     137  458    112      3.425         720
202        Rhein Gibson  --      1     154  526    128      3.348         828
203        Rory McIlroy  32      1     236  564    150      4.370         972
204          J.J. Spaun  30      1     207  679    175      3.450        1080
205         Joel Dahmen  33      1     270  753    171      3.971        1224

[206 rows x 8 columns]